{% include 'rheader.html' %}


<div class="container">

    <ul class="">
        <li class=""><a href="">pid = {{ data.pid }}</a></li>
        <li class=""><a href="">id = {{ data.id }}</a></li>
        <li class=""><a href="">bh = {{ data.bh }}</a></li>
        <li class=""><a href="">region = {{ data.region_bb }}</a></li>
        <li class=""><a href="">alt_no_1 = {{ data.alt_no_1 }}</a></li>
        <li class=""><a href="">alt_no_2 = {{ data.alt_no_2 }}</a></li>
        <li class=""><a href="">fno = {{ data.fno }}</a></li>
        <li class=""><a href="">district = {{ data.district }}</a></li>
        <li class=""><a href="">municipality = {{ data.municipality }}</a></li>
        <li class=""><a href="">comm_id = {{ data.comm_id }}</a></li>
        <li class=""><a href="">site_name = {{ data.site_name }}</a></li>
        <li class=""><a href="">settlement = {{ data.settlement }}</a></li>
        <li class=""><a href="">lng = {{ data.lng }}</a></li>
        <li class=""><a href="">lat = {{ data.lat }}</a></li>
        <li class=""><a href="">depth = {{ data.depth }}</a></li>
        <li class=""><a href="">wl = {{ data.wl }}</a></li>
        <li class=""><a href="">intk = {{ data.intk }}</a></li>
        <li class=""><a href="">dis = {{ data.dis }}</a></li>
        <li class=""><a href="">duty = {{ data.duty }}</a></li>
        <li class=""><a href="">abyield = {{ data.abyield }}</a></li>
        <li class=""><a href="">power = {{ data.power }}</a></li>
        <li class=""><a href="">quality = {{ data.quality }}</a></li>
        <li class=""><a href="">comment = {{ data.comment }}</a></li>
        <li class=""><a href="">h_area = {{ data.h_area }}</a></li>
        <li class=""><a href="">date_updated = {{ data.date_updated }}</a></li>
    </ul>

</div>


{% include 'rfooter.html' %}