{% include 'header.html' %}


<div class="container">

<h1>{{ message }}</h1>

<hr>


    <h2>Borehole List</h2>
    {% for item in boreholelist %}
    <li class=""><a href="html/{{ item.bh }}.html">{{ item.id }} - {{ item.fno }} - {{ item.municipality }} - {{ item.settlement }} - {{ item.h_area }} - {{ item.district }}</a></li>
    {% endfor %}

    <hr>

    <h2>Districts</h2>
    {% for item in districts %}
    <li class=""><a href="">{{ item.id }} - {{ item.name }}</a></li>
    {% endfor %}

    <hr>

    <h2>HAreas</h2>
    {% for item in hareas %}
    <li class=""><a href="">{{ item.id }} - {{ item.name }}</a></li>
    {% endfor %}

    <hr>

    <h2>Catchments</h2>
    {% for item in catchments %}
    <li class=""><a href="">{{ item.id }} - {{ item.name }}</a></li>
    {% endfor %}

    <hr>

    <h2>Municipalities</h2>
    {% for item in municipalities %}
    <li class=""><a href="">{{ item.id }} - {{ item.name }}</a></li>
    {% endfor %}

    <hr>

    <h2>Settlements</h2>
    {% for item in settlements %}
    <li class=""><a href="">{{ item.id }} - {{ item.name }}</a></li>
    {% endfor %}

</div>


{% include 'footer.html' %}