{% include 'rheader.html' %}


<div class="container">

    <h1>{{ data.bh }}</h1>

    <hr>

    <ul class="">
        <li class="">pid = {{ data.pid }}</li>
        <li class="">id = {{ data.id }}</li>
        <li class="">bh = {{ data.bh }}</li>
        <li class="">region = {{ data.region_bb }}</li>
        <li class="">alt_no_1 = {{ data.alt_no_1 }}</li>
        <li class="">alt_no_2 = {{ data.alt_no_2 }}</li>
        <li class="">fno = {{ data.fno }}</li>
        <li class="">district = {{ data.district }}</li>
        <li class="">municipality = {{ data.municipality }}</li>
        <li class="">comm_id = {{ data.comm_id }}</li>
        <li class="">site_name = {{ data.site_name }}</li>
        <li class="">settlement = {{ data.settlement }}</li>
        <li class="">lng = {{ data.lng }}</li>
        <li class="">lat = {{ data.lat }}</li>
        <li class="">depth = {{ data.depth }}</li>
        <li class="">wl = {{ data.wl }}</li>
        <li class="">intk = {{ data.intk }}</li>
        <li class="">dis = {{ data.dis }}</li>
        <li class="">duty = {{ data.duty }}</li>
        <li class="">abyield = {{ data.abyield }}</li>
        <li class="">power = {{ data.power }}</li>
        <li class="">quality = {{ data.quality }}</li>
        <li class="">comment = {{ data.comment }}</li>
        <li class="">h_area = {{ data.h_area }}</li>
        <li class="">date_updated = {{ data.date_updated }}</li>
    </ul>

</div>


{% include 'rfooter.html' %}