{% include 'rheader.html' %}


<div class="container">

    <ul class="">
        <li class=""><a href="">{{ data.pid }}</a></li>
        <li class=""><a href="">{{ data.id }}</a></li>
        <li class=""><a href="">{{ data.bh }}</a></li>
        <li class=""><a href="">{{ data.region_bb }}</a></li>
        <li class=""><a href="">{{ data.alt_no_1 }}</a></li>
        <li class=""><a href="">{{ data.alt_no_2 }}</a></li>
        <li class=""><a href="">{{ data.fno }}</a></li>
        <li class=""><a href="">{{ data.district }}</a></li>
        <li class=""><a href="">{{ data.municipality }}</a></li>
        <li class=""><a href="">{{ data.comm_id }}</a></li>
        <li class=""><a href="">{{ data.site_name }}</a></li>
        <li class=""><a href="">{{ data.settlement }}</a></li>
        <li class=""><a href="">{{ data.lng }}</a></li>
        <li class=""><a href="">{{ data.lat }}</a></li>
        <li class=""><a href="">{{ data.depth }}</a></li>
        <li class=""><a href="">{{ data.wl }}</a></li>
        <li class=""><a href="">{{ data.intk }}</a></li>
        <li class=""><a href="">{{ data.dis }}</a></li>
        <li class=""><a href="">{{ data.duty }}</a></li>
        <li class=""><a href="">{{ data.abyield }}</a></li>
        <li class=""><a href="">{{ data.power }}</a></li>
        <li class=""><a href="">{{ data.quality }}</a></li>
        <li class=""><a href="">{{ data.comment }}</a></li>
        <li class=""><a href="">{{ data.h_area }}</a></li>
        <li class=""><a href="">{{ data.date_updated }}</a></li>
    </ul>

</div>


{% include 'rfooter.html' %}
